//colors
$color-primary: #f59700;
$color-secondary: #f5c400;

$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #f8f7f7;
$color-grey-light-2: #e9e8e7;
$color-grey-light-3: #a8a8a8;
$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #33363a;

//btn-colors
$color-teal-light-1: #b2d8d8;
$color-teal-light-2: #66b2b2;
$color-teal: #008080;
$color-teal-dark-1: #006666;
$color-teal-dark-2: #004c4c;

// stats colors
$color-low: #de4141;
$color-medium: #f59700;
$color-high: #f5c400;
$color-epic: #5a9c39;

// pokemon type colors
$color-normal: #a8a8a8;
$color-fighting: #c03028;
$color-flying: #9096f0;
$color-poison: #a040a0;
$color-ground: #e0b668;
$color-rock: #b8a038;
$color-bug: #9cb820;
$color-ghost: #705898;
$color-steel: #6d8f9c;
$color-fire: #f08030;
$color-water: #6890f0;
$color-grass: #22c02a;
$color-electric: #ffcc66;
$color-psychic: #fa4d8f;
$color-ice: #98d8d8;
$color-dragon: #7038f8;
$color-dark: #504843;
$color-fairy: #f09ad9;

// beak-points values
$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
