.pokemon__infos {
	justify-self: start;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 5rem;

	@media only screen and (max-width: $bp-large) {
		grid-template-columns: 1fr;
	}
	@media only screen and (max-width: $bp-medium) {
		justify-self: center;
	}
	.stats {
	}
	.actions {
		display: flex;
		grid-gap: 2rem;
		align-self: center;

		@media only screen and (max-width: $bp-large) {
			justify-self: center;
		}
	}
}
