.pokemon {
	background: $color-white;
	text-transform: capitalize;
	transition: all 10s ease;
	.main {
		transition: all 10s ease;

		padding: 4rem 6rem;

		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 5rem;

		@media only screen and (max-width: $bp-medium) {
			grid-template-columns: 1fr;
		}
	}

	.details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
		grid-row-gap: 8rem;

		padding: 4rem 6rem;
		font-size: 1.6rem;

		transition: all 2s ease;

		@media only screen and (max-width: $bp-large) {
			grid-template-columns: 1fr;
		}
		.title {
			text-transform: capitalize;
			margin-left: 2rem;
			margin-bottom: 3rem;
		}
	}

	&:nth-child(odd) {
		background: $color-white;
	}

	&:nth-child(even) {
		background: $color-grey-light-1;
	}

	.hidden {
		display: none;
	}
}
